.mybtn.MuiButton-root {
    color: chartreuse;
}
.mybtn.MuiButton-root:hover {
    color: antiquewhite;
}
/* разобраться со стилями 
https://mui-com.translate.goog/material-ui/guides/interoperability/
?_x_tr_sl=en&_x_tr_tl=ru&_x_tr_hl=ru&_x_tr_pto=sc#css-injection-order */